*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
/* Header CSS */
body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}


a{
    text-decoration: none;
}

h1{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

button{
    border-radius: 8px;
    width: 130px;
    height: 35px;
    background-color: #3882F6;
    color: white;
    border-width: 0px;
    font-size: medium;
    font-weight: bold;
    cursor: pointer;
}

.header .content .text p , a{
    font-size: 18px;
    color: #E5E7EB;
}
.header{
    background-color: #1F2937;
    
}
.header .top{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 415px;
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bolder;
}


.links{
    list-style-type: none;
    display: flex;
    gap: 25px;
    
    
}


.header .content .text , .header .content .image{
    width: 480px;
    height: 240px;
}

.header .content .image{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    color: white;
}
.header .content{
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    height: 25%;
    gap: 100px;
    padding-top: 90px;
    padding-bottom: 190px;
}

/* Info CSS */

.info .top h2{
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}


.info .content{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.info .content .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 180px;
    text-align: center;
}
.info .content .image{
    border: #3882F6 2px solid;
    height: 100px;
    width: 100px;
    border-radius: 8px;
}

/* Quote CSS */

.quote{
    background-color: #E5E7EB;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    padding: 100px;
    margin-top: 100px;
    
}

.quote .container{
    height: 350px;
    width: 800px;
    
}
.quote #text{
    font-size: 36px;
    font-weight: 300;
    text-align: left;
    color: #1F2937;
}

.quote #speaker{
    text-align: right;
    font-weight: bold;
}

/* Sign CSS*/

.sign{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.sign .content{
    width: 900px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 80px;
    background-color: #3882F6;
    border-radius: 5px;
}

.sign .content .text{
    color: white;
}

.sign .content .text h4, .sign .content .text p{
    margin: 0;
}

.sign .content button{
    border: white 2px solid;
}